/* Margin */
.ma15 { margin: 15px !important;}
.ma10 { margin: 10px !important;}
.ma5 {  margin: 5px !important;}
.nm { margin: 0px !important;}
.ma-15 { margin: -15px !important;}
.ma-10 { margin: -10px !important;}
.ma-5 { margin: -5px !important;}
.mt15 { margin-top: 15px !important;}
.mt10 { margin-top: 10px !important;}
.mt5 {  margin-top: 5px !important;}
.mt0 {  margin-top: 0px !important;}
.mt-40 { margin-top: -40px;}
.mt-15 { margin-top: -15px !important;}
.mt-10 {  margin-top: -10px !important;}
.mt-5 {  margin-top: -5px !important;}
.mr15 { margin-right: 15px !important;}
.mr10 { margin-right: 10px !important;}
.mr5 { margin-right: 5px !important;}
.mr0 { margin-right: 0px !important;}
.mr-15 { margin-right: -15px !important;}
.mr-10 { margin-right: -10px !important;}
.mr-5 { margin-right: -5px !important;}
.mb20 { margin-bottom: 20px !important;}
.mb15 { margin-bottom: 15px !important;}
.mb10 { margin-bottom: 10px !important;}
.mb5 { margin-bottom: 5px !important;}
.mb0 { margin-bottom: 0px !important;}
.mb-15 { margin-bottom: -15px !important;}
.mb-10 { margin-bottom: -10px !important;}
.mb-5 { margin-bottom: -5px !important;}
.ml15 { margin-left: 15px !important;}
.ml10 { margin-left: 10px !important;}
.ml5 { margin-left: 5px !important;}
.ml0 { margin-left: 0px !important;}
.ml-15 { margin-left: -15px !important;}
.ml-10 { margin-left: -10px !important;}
.ml-5 { margin-left: -5px !important;}
.ma{margin:0px !important;}

/* Padding */
.pa15 { padding: 15px !important;}
.pa10 { padding: 10px !important;}
.pa5 { padding: 5px !important;}
.pa0 { padding: 0px !important;}
.np { padding: 0px !important;}
.pt15 { padding-top: 15px !important;}
.pt10 { padding-top: 10px !important;}
.pt5 { padding-top: 5px !important;}
.pt0 { padding-top: 0px !important;}
.pr15 { padding-right: 15px !important;}
.pr10 { padding-right: 10px !important;}
.pr5 { padding-right: 5px !important;}
.pr0 { padding-right: 0px !important;}
.pb15 { padding-bottom: 15px !important;}
.pb10 { padding-bottom: 10px !important;}
.pb5 { padding-bottom: 5px !important;}
.pb0 { padding-bottom: 0px !important;}
.pl15 { padding-left: 15px !important;}
.pl10 { padding-left: 10px !important;}
.pl5 { padding-left: 5px !important;}
.pl0 { padding-left: 0px !important;}
.pa{padding:0px !important;}

/*Nav Section */
.navbar { min-height: 63px !important;}
.nav_position{ margin-left:7% !important; text-transform:uppercase; font-weight:600; margin-right: 5% !important; }
.navbar-nav { margin: 7.5px -15px }
.navbar-inverse .navbar-nav > li > a {color: #fff;}
.font_size16{ font-size:18px; font-weight:600; }
.text_upper{ text-transform:uppercase; font-weight:600;}
/*Nav Section End */

.white_outer {
    background-color: #fff;
	 padding-bottom: 20px;
    padding-top:70px; border-bottom:1px solid #ccc;
}
.dark-wrapper {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom: 1px solid #e3e3e3;
}
.inner {
    padding-bottom: 70px;
    padding-top: 70px;
}
.errorMessage
{
    color: #FC0000;
}
.parsley-required,.parsley-type,.parsley-minlength,.parsley-errors-list
{
    color: #FC0000;
	list-style-type:none;
}

/* custom inclusion of left tabs */


.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; padding:30px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}


.bg-default {
  background-color: #e2e2e2;
}

.profile_ul{ margin: 0; padding: 0;}
.profile_ul li { float:left; width: 100%; display: inline; padding-left:15px ; padding-top: 5px; padding-bottom:5px;   list-style: none; background: #fbfbfb; border-bottom: 1px solid #e2e2e2;}
.profile_ul li:hover {background: #f2f2f2;}
.profile_ul li a{float:left; text-decoration: none;  padding: 10px ;color:#999;}
.profile_ul li a:hover{ color: #666;}
.border_b{ border-bottom: 1px solid #e2e2e2;}

.radio{}
.radio li{ float:left; display:inline-block;   }
.radio label{ margin-left:30px !important; }

.outline{outline: 1px solid black;}

.caption{ display:none !important;}
.clear-rating i {display:none !important;}
.rating-sm {font-size: 18px !important; padding-bottom:10px; padding-top:5px;}
.font_size10{ font-size: 10px !important ; font-weight: bold;}
.border_style_div
{
    border:1px solid #e2e2e2;
    padding: 10px;
}
#complete_profile
{
    width: 100%;
    min-height: 444px;
    border:1px solid #e2e2e2;
}
.team_class
{
    width: 100%;
    height: 250px;
    background-color: #F2F2F2;
    border: 1px solid #e2e2e2;
    margin-top: 10px;
}
.on_web_link
{
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px;
}
a
{
    cursor: pointer;
}
.web_mt
{
   margin-top: 4%;
}
.border-r{ border-right: 1px solid #e2e2e2;}
.bg_white{ background:#FFF;}
.text_circle{ padding:10px; background:#e2e2e2; border:4px solid #ccc; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; text-align:center; width:68px;}
.border_b{ border-bottom:1px solid #e2e2e2;}
.text-color{color:#777;}
.awardcerification{
    border: 1px solid #e2e2e2;
    height: 161px;
    text-align: center;
    padding:15px;
}
.all_info
{
    width: 100%;
    min-height: 110px;

}
.awarddesc
{
    width: 100%;
    min-height: 110px;
    background-color: #e2e2e2;
    text-align: justify;
    font-size: 12px;
    padding: 2px;
}
.cover_img{ width: 100%; }
.position_set{ z-index:99; position:absolute; top: 75%;  right: 4%;}
.position_set_offer{ z-index:2; position:absolute; left: 40%; }
.width160{ width:160px !important;}

.slider-track {
  position: absolute;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #f8f8f8 100%) !important;
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #f8f8f8 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #37bc9b 0%, #37bc9b 100%) !important;
  background-image: linear-gradient(to bottom, #37bc9b 0%, #37bc9b 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff !important;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%) !important;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  filter: none;
  -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  opacity:1  !important; 
  border: 1px solid #d7d7d7 !important;
}
.s1 .tooltip-inner {
  max-width: 200px;
  padding: 15px 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #37bc9b;
  border-radius: 50%; margin-bottom:13px;  
}
.s1 .slider .tooltip.top {
    margin-top: -60px;
}
.s1 .tooltip.top .tooltip-arrow {
    border-top-color: #37bc9b;
    border-width: 20px 8px 0;
    bottom:-15 !important;
    left: 50%;
    margin-left: -7px !important;
}

/*CSS for Algolia Search (Naman)*/
.twitter-typeahead { width: 100%; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
.twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
.twitter-typeahead .tt-hint { color: #999; }
.twitter-typeahead .tt-dropdown-menu { width: 100%; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion p { margin: 0; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion a { color: #000; text-decoration: none; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }