
@media (min-width:768px){.modal .slimScrollDiv{height:auto !important;}	
.modal .slimscroll{height:auto !important;}}
@media (min-width:992px){.modal .modal-xlg {  width: 900px !important;}
.modal .slimScrollDiv{height:480px !important; overflow:hidden!important;}	
.modal .slimscroll{height:480px !important; overflow:hidden!important;}
.modal .viewReview .slimScrollDiv{height:520px !important;}	
.modal  .viewReview .slimscroll{height:520px !important;}
}
@media (min-width:1250px){}
@media (min-width:1360px){
.modal .modal-xlg {  width: 1180px !important; }
.h_set{ height:460px;}
.modal .slimScrollDiv{height:435px !important; overflow:hidden!important;}	
.modal .slimscroll{height:435px !important; overflow:hidden!important;}	
.modal .viewReview .slimScrollDiv{height:480px !important;}	
.modal  .viewReview .slimscroll{height:480px !important;}	

}
@media (min-width:1500px){
.modal .slimScrollDiv{height:505px !important; overflow:hidden!important;}	
.modal .slimscroll{height:505px !important; overflow:hidden!important;}
.modal .viewReview .slimScrollDiv{height:545px !important;}	
.modal  .viewReview .slimscroll{height:545px !important;}
}
/* media query sahil */
@media screen and (min-width:1440px) {
.cv-circle{height: 800px;left: -40%; top: -80px; width: 700px;}
.cv-circle-2{height: 850px;left: -233%;top: -44px;width: 750px;}
.into-circle{height: 650px;left: -35%; top: -10px; width: 550px;}
.into-circle-2{height: 550px; left: -165%;top: 100px;width: 470px;}
.project-circle{height: 500px; left: -34%; top: 56px; width: 420px;}
.resposnse-circle{height: 310px;left: -23%; top: 148px; width: 250px;}
.gradient-bg{min-height: 610px !important;}
.gradient-bg-2{min-height: 740px !important;}
.client-view{min-height: 740px !important;}
.mt250{ margin-top:294px;}
.intro-cont{min-height:205px !important; padding: 30px 35px !important;}
.mt-50{top:44%;}
.mt-46{top:43.6%;}
.mt-44{top:43.2%;}
.mt-40{top:40%;}
.sd-list{border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding-bottom: 10px;padding-top:10px;}
}
@media screen and (min-width:1680px) {
.cv-circle{height: 850px;left: -39%; top: -70px; width: 750px;}
.cv-circle-2{height: 950px;left: -235%; top: -64px; width: 850px;}
.into-circle{height: 700px;left: -36%; top: -6px; width: 600px;}
.into-circle-2{height: 650px;left: -175%;top: 80px;width: 570px;}
.project-circle{height: 550px; left: -34%; top: 66px; width: 470px;}
.resposnse-circle{height: 360px;left: -25%; top: 158px; width: 300px;}
.gradient-bg{min-height: 685px !important;}
.gradient-bg-2{min-height: 825px !important;}
.client-view{min-height: 825px !important;}
.mt250{ margin-top:310px;}
.intro-cont{min-height: 228px !important; padding: 44px 35px !important;}
.mt-50{top: 43.8%;}
.mt-46{top: 44.2%}
.mt-44{top:43%;}
.mt-40{top:40%;}
.sd-list{border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding-bottom: 15px;padding-top:15px;}
}
@media screen and (min-width:1920px) {
.cv-circle{height: 1050px;left: -38%;top: -70px; width: 850px;}
.cv-circle-2{height: 1050px;left: -218%;top: -29px; width: 950px;}
.into-circle{height: 900px; left: -35%; top: -6px; width: 700px;}
.into-circle-2{height: 750px;left: -169%;top: 120px;width: 670px;}
.project-circle{height: 750px;left: -35%;top: 66px;width: 570px;}
.resposnse-circle{height: 560px;left: -29%;top: 158px; width: 400px;}
.gradient-bg{min-height: 855px !important;}
.gradient-bg-2{min-height: 985px !important;}
.client-view{min-height: 985px !important;}
.mt250{ margin-top:390px;}
.intro-cont{min-height: 285px !important;padding: 70px 35px !important;}
.mt-50{top: 44%;}
.mt-46{top: 44.2%}
.mt-44{top:43.5%;}
.mt-40{top:41.5%;}
.sd-list{border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding-bottom: 25px;padding-top: 25px;}
}

/* media query sahil */

