@import url("bootstrap.min.css");
@import url("font-awesome.css");
@import url("scrolling-nav.css");
@import url("custom_sa.css");
@import url("slick.css");
@import url("bootstrap-select.css");
@import url("main.css");
@import url("tab-effect.css");
@import url("owl.theme.css");
@import url("simple-line-icons.css");

































